apsw==3.39.2.0
discord.py[speed] @ git+https://github.com/unified-moderation-network/discord.py.git@1c7747fe9d7fed9818019608fbcfb73a3ea50b72
msgpack==1.0.2
numpy
numba==0.56.0
pyzmq
uvloop; sys.platform == "linux"
lru-dict
toml
typing-extensions>=3.10.0.0
hyperscan==0.3.2; sys.platform == "linux"
aiohttp[speedups]
umn-async-utils @ git+https://github.com/unified-moderation-network/umn-async-utils.git@860b2efc2dffd175ef654f97e55b7d9653102b70
