name: style

on: [push, pull_request] 


jobs:
  formatting:
    name: Consistent Formatting Checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-python@v1
        with:
          python-version: "3.8"
      - run: "python -m pip install -r dev-requirements.txt"
        name: Install deps
      - run: "black --check --target-version py38 runner.py src"
        name: Format checking with Black
      - run: "isort --profile=black runner.py src"
        name: Import sorting
      - run: >
          ! $(find . ! -path "./.git/*" -not -type d -exec file "{}" ";" |& grep -q " CRLF ")
        name: Verify No CLRF line endings.
